@page "/ConsultarHorarios"

@using PorAli.Data
@using PorAli.Pages.Loads
@inject Utilizador user
@inject IModalService Modal


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PorAli</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .img {
            text-align: center;
            display: block;
        }

        body {
            text-align: center;
            background-color: #5396da;
        }

        .logo {
            text-align: center;
            width: 30%;
            margin-top: 100px;
        }


        .login {
            font-family: "Comic Sans MS", "Comic Sans";
            text-align: center;
            margin-top: 60px;
        }

        .email {
            margin-left: 30px;
        }

        .font {
            font-family: "Comic Sans MS", "Comic Sans";
        }

        .entrar {
            font-family: "Comic Sans MS", "Comic Sans";
            background-color: #cac7c7;
            border: 1px solid rgb(0, 0, 0);
            padding: 5px 20px;
            text-align: center;
            text-decoration: none;
            font-size: 12px;
        }

        a {
            color: black;
        }

        centro {
            text-align: center;
        }

        form {
            display: inline-block;
        }

        .viagem {
            font-family: "Comic Sans MS", "Comic Sans";
            border-radius: 6px;
            background-color: ghostwhite;
            padding: 10px 50px;
            text-align: center;
            text-decoration: none;
            font-size: 15px;
        }

        .child {
            width: 150px;
            height: 150px;
            /* Center vertically and horizontally */
            position: absolute;
            top: 58%;
            left: 46%;
            margin: 0 0 0 -25px; /* apply negative top and left margins to truly center the element */
        }
    </style>
</head>



<body>

    <div class="font">
        <div class="w3-bar w3-black w3-card">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a href="Conta" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Home"><i class="fa fa-home"></i></a>
            <a href="HistoricoGratis" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Viagens Grátis"><i class="fa fa-ticket"></i></a>
            <a href="HistoricoViagens" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Historico"><i class="fa fa-history"></i></a>
            <a href="Logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Logout"><i class="fa fa-sign-out"></i></a>
            <a href="AvaliarApp" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Avaliar"><i class="fa fa-star"></i></a>
            <button @onclick="@(() => Modal.Show<ListaNotificacoes>("As Minhas Notificações"))" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Notifications"><i class="fa fa-bell"></i></button>
            <a href="ConfiguracaoConta" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
                Bem Vindo/a @user.nome!
                <img src="/images/user.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
            </a>
        </div>
    </div>
    <img class="logo" src="./images/logo.png" media=max-width: 600px>
    <h2>Consultar Horário</h2>
    <EditForm Model="Percurso" OnValidSubmit=@Handler_consulta>
        <div float="left" class="form-group">
            <label for="Origem">Origem:</label>
            <InputText @bind-Value="Percurso.local_inicio" class="form-control" id="start" />
        </div>
        <div class="form-group">
            <label for="Destino">Destino:</label>
            <InputText @bind-Value="Percurso.local_destino" class="form-control" id="end" />
        </div>
        <div class="form-group">
            <label for="Data">Data Partida:</label>
            <InputText @bind-Value="Percurso.data_partida" class="form-control" id="data" placeholder="DD-MM-YYYY" />
        </div>
        <div class="form-group">
            <label for="Hora">Hora Partida:</label>
            <InputText @bind-Value="Percurso.hora_partida" class="form-control" id="hora" placeholder="HH:MM" />
        </div>
        <input type="submit" class="btn btn-primary" value="Consultar Horários" />
    </EditForm>


</body>

@code {


    private PorAli porali = new PorAli();
    LoadViagem Percurso = new LoadViagem();
    private string res = "a calcular percurso";
    private List<Viagem> viagens = null;
    private string bus;

    int userNotifications;
    protected override async Task OnInitializedAsync()
    {
        userNotifications = user.listaNotificacoes.Count();
    }

    public Viagem v_aux = null;

    public void Handler_consulta()
    {
        string data = Percurso.data_partida + " " + Percurso.hora_partida;

        DateTime date = DateTime.ParseExact(data, "dd-MM-yyyy HH:mm", null);
        viagens = porali.iniciaViagem(Percurso.local_inicio, Percurso.local_destino, date);
    }

    public void SaveViagem(Viagem v1)
    {
        v_aux = v1;
    }

}


@if (viagens != null)
{
    <p></p>
    foreach (Viagem viagem in viagens)
    {
        <p> <a type="submit" class="viagem" id="viagem">@viagem.showViagem()</a> </p>
    }

}
